.max-height {
    height: 100%;
}

#blurer {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    opacity: 0.9;
}


#restart {
    margin: 0 8rem;
}


#result {
    font-size: 3em;
    font-family: OhWhale;
    text-align: center;
}

#win-alert {
    position: absolute;
    width: 350px;
    height: 250px;
    background-color: cornsilk;
    z-index: 6;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#game-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.grid-item {
    border: 1px solid black;
    padding: 10px;
    z-index: 2;
}

body, html, .container-fluid {
    height: 100%;
}

#game {
    background-color: cornsilk;
    padding: none;
    font-family: OhWhale;
    color: white;
}

.container-fluid {
    /* background-color: cornsilk; */
    /* background-image: url("https://wallbox.ru/wallpapers/main2/201730/anime.png"); */
    /* background-image: url("https://cdn.wallpapersafari.com/78/18/mPWVzu.jpg"); */
    background-image: url("./static/bg.png");
    /* background-image: url("https://erotica.wallbox.ru/wallpapers/main/201337/anime-devushka-yepizod-6c40187.jpg"); */
    background-size: cover;
}

#counter {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.5), rgba(255, 165, 0, 0.5));
    height: 12%;
    font-size: 3em;
    vertical-align: middle;
}

#turn-counter {
    background-color: cornsilk;
    height: 10%;
    font-size: 2em;
    text-shadow: 0 0 2px black;
}

@font-face {
    font-family: OhWhale;
    src: url('./Oh Whale - TTF.ttf');
}
